<% @restaurants.each do |restaurant| %>
  <div class="wrapper">
    <div class="wrapper-restaurant">
      <p class="restaurant-name">
        <strong><%= link_to restaurant.name, restaurant %></strong>
      </p>
      <p>
        <%= restaurant.description %>
      </p>
      <p>
        <h6>
          Average Customer Rating:
        </h6>
          <span class="stars average">
            <% @restaurants.each do |restaurant| %>
              <%= restaurant.average %>
            <% end %>
          </span>
      </p>
      <span class="update-delete"><%= link_to "Edit", edit_restaurant_path(restaurant) %></span>
      <span class="update-delete"><%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?'} %></span>
      <button class="hide-comments">Hide Comments</button>
      <button class="show-comments">Show Comments</button>
    </div>
    <div class="comments">
      <h5>Comments</h5>
      <% restaurant.reviews.each do |review| %>
        <%= review.comment %>
        <span class="stars"><%= review.rating %></span>
      <% end %>
     </div>
  </div>
<% end %>


